<nav class="navbar navbar-expand bg-light">
 <a class="navbar-brand">Routing</a>
 <div class="navbar-collapse collapse">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item">
       <a class="nav-link" routerLink="Home">Home</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="About">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Settings">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="LogIn">LogIn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Register">Register</a>
    </li>
   </ul>

 </div>

</nav>
<router-outlet></router-outlet>